In [240]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [241]:
movie_data  = pd.read_csv("Datas/5000_movies_bis.csv")
movie_data.head()

,color,director_name,num_critic_for_reviews,duration,director_fb_likes,actor_3_fb_likes,actor_2_name,actor_1_fb_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_fb_likes,imdb_score,aspect_ratio,movie_fb_likes
0,Color,James Cameron,723.00,178.00,0.00,855.00,Joel David Moore,1000.00,760505847.00,Action|Adventure|Fantasy|Sci-Fi,...,3054.00,English,USA,PG-13,237000000.00,2009.00,936.00,7.90,1.78,33000
1,Color,Gore Verbinski,302.00,169.00,563.00,1000.00,Orlando Bloom,40000.00,309404152.00,Action|Adventure|Fantasy,...,1238.00,English,USA,PG-13,300000000.00,2007.00,5000.00,7.10,2.35,0
2,Color,Sam Mendes,602.00,148.00,0.00,161.00,Rory Kinnear,11000.00,200074175.00,Action|Adventure|Thriller,...,994.00,English,UK,PG-13,245000000.00,2015.00,393.00,6.80,2.35,85000
3,Color,Christopher Nolan,813.00,164.00,22000.00,23000.00,Christian Bale,27000.00,448130642.00,Action|Thriller,...,2701.00,English,USA,PG-13,250000000.00,2012.00,23000.00,8.50,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.00,NaN,Rob Walker,131.00,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.00,7.10,NaN,0

In [242]:
movie_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   color                   5024 non-null   object
 1   director_name           4939 non-null   object
 2   num_critic_for_reviews  4993 non-null   float64
 3   duration                5028 non-null   float64
 4   director_fb_likes       4939 non-null   float64
 5   actor_3_fb_likes        5020 non-null   float64
 6   actor_2_name            5030 non-null   object
 7   actor_1_fb_likes        5036 non-null   float64
 8   gross                   4366 non-null   float64
 9   genres                  5043 non-null   object
 10  actor_1_name            5036 non-null   object
 11  movie_title             5043 non-null   object
 12  num_voted_users         5043 non-null   int64
 13  cast_total_fb_likes     5043 non-null   int64
 14  actor_3_name            5020 non-null   object
 15  facenumber_in_poster    5030 non-null   float64
 16  plot_keywords           4890 non-null   object
 17  movie_imdb_link         5043 non-null   object
 18  num_user_for_reviews    5022 non-null   float64
 19  language                5029 non-null   object
 20  country                 5038 non-null   object
 21  content_rating          4740 non-null   object
 22  budget                  4637 non-null   float64
 23  title_year              4935 non-null   float64
 24  actor_2_fb_likes        5030 non-null   float64
 25  imdb_score              5043 non-null   float64
 26  aspect_ratio            4714 non-null   float64
 27  movie_fb_likes          5043 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [243]:
movie_data.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_fb_likes', 'actor_3_fb_likes', 'actor_2_name',
       'actor_1_fb_likes', 'gross', 'genres', 'actor_1_name', 'movie_title',
       'num_voted_users', 'cast_total_fb_likes', 'actor_3_name',
       'facenumber_in_poster', 'plot_keywords', 'movie_imdb_link',
       'num_user_for_reviews', 'language', 'country', 'content_rating',
       'budget', 'title_year', 'actor_2_fb_likes', 'imdb_score',
       'aspect_ratio', 'movie_fb_likes'],
      dtype='object')

* afficher le nombre de valeurs nulles dans chaque colonne

In [244]:
for column in movie_data.columns:
    null_count = movie_data[column].isnull().sum()
    print(f"{column}: {null_count}")

color: 19
director_name: 104
num_critic_for_reviews: 50
duration: 15
director_fb_likes: 104
actor_3_fb_likes: 23
actor_2_name: 13
actor_1_fb_likes: 7
gross: 677
genres: 0
actor_1_name: 7
movie_title: 0
num_voted_users: 0
cast_total_fb_likes: 0
actor_3_name: 23
facenumber_in_poster: 13
plot_keywords: 153
movie_imdb_link: 0
num_user_for_reviews: 21
language: 14
country: 5
content_rating: 303
budget: 406
title_year: 108
actor_2_fb_likes: 13
imdb_score: 0
aspect_ratio: 329
movie_fb_likes: 0

valeurs manquantes colonne duraiton

In [245]:
# Calculez la moyenne des valeurs non manquantes dans la colonne "duration"
mean_duration = movie_data['duration'].mean()

# Remplacez les valeurs manquantes dans la colonne "duration" par la moyenne calculÃ©e
movie_data['duration'] = movie_data['duration'].fillna(mean_duration)

# VÃ©rifiez que les valeurs manquantes ont Ã©tÃ© remplacÃ©es
print(movie_data['duration'].isnull().sum())  # Doit renvoyer 0 si toutes les valeurs manquantes ont Ã©tÃ© remplacÃ©es

0

In [246]:
# Arrondir les valeurs de la colonne "duration" Ã  2 dÃ©cimales
movie_data['duration'] = movie_data['duration'].round(2)

In [247]:
movie_data.head()

,color,director_name,num_critic_for_reviews,duration,director_fb_likes,actor_3_fb_likes,actor_2_name,actor_1_fb_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_fb_likes,imdb_score,aspect_ratio,movie_fb_likes
0,Color,James Cameron,723.00,178.00,0.00,855.00,Joel David Moore,1000.00,760505847.00,Action|Adventure|Fantasy|Sci-Fi,...,3054.00,English,USA,PG-13,237000000.00,2009.00,936.00,7.90,1.78,33000
1,Color,Gore Verbinski,302.00,169.00,563.00,1000.00,Orlando Bloom,40000.00,309404152.00,Action|Adventure|Fantasy,...,1238.00,English,USA,PG-13,300000000.00,2007.00,5000.00,7.10,2.35,0
2,Color,Sam Mendes,602.00,148.00,0.00,161.00,Rory Kinnear,11000.00,200074175.00,Action|Adventure|Thriller,...,994.00,English,UK,PG-13,245000000.00,2015.00,393.00,6.80,2.35,85000
3,Color,Christopher Nolan,813.00,164.00,22000.00,23000.00,Christian Bale,27000.00,448130642.00,Action|Thriller,...,2701.00,English,USA,PG-13,250000000.00,2012.00,23000.00,8.50,2.35,164000
4,NaN,Doug Walker,NaN,107.20,131.00,NaN,Rob Walker,131.00,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.00,7.10,NaN,0

valeurs manquantes colonne language

In [248]:
# Filtrer les lignes oÃ¹ la valeur de la colonne "language" est NaN
movies_language_nan = movie_data.loc[movie_data['language'].isnull()]

# Afficher uniquement les noms des films oÃ¹ la valeur de la colonne "language" est NaN
print(movies_language_nan['movie_title'])

4       Star Wars: Episode VII - The Force AwakensÂ    ...
279                              10,000 B.C.Â
2459                           UnforgettableÂ
2895                                      Quest for FireÂ
3086                                      September DawnÂ
3539    Alpha and Omega 4: The Legend of the Saw Tooth...
3869                                        Silent MovieÂ
3931                                             SamsaraÂ
4110                                  Love's Abiding JoyÂ
4409                                Kickboxer: VengeanceÂ
4630                                         A Fine StepÂ
4810    Intolerance: Love's Struggle Throughout the AgesÂ
4885                                      The Big ParadeÂ
4958                      Over the Hill to the PoorhouseÂ
Name: movie_title, dtype: object

In [249]:
# Remplacer les valeurs NaN dans la colonne "language" lorsque le pays est "USA" par "English"
movie_data.loc[(movie_data['country'] == 'USA') & (movie_data.index != 3931), 'language'] = movie_data.loc[(movie_data['country'] == 'USA') & (movie_data.index != 3931), 'language'].fillna('English')

print(movie_data['language'].isnull().sum())  # Doit renvoyer 0 si toutes les valeurs manquantes ont Ã©tÃ© remplacÃ©es

4

In [250]:
# Afficher les lignes oÃ¹ 'language' est toujours NaN
nan_rows = movie_data[movie_data['language'].isna()]
result = nan_rows[['country', 'director_name', 'movie_title']]
print(result)

     country        director_name  \
4        NaN          Doug Walker
279      NaN  Christopher Barnard
2895  Canada  Jean-Jacques Annaud
3931     USA           Ron Fricke

                                            movie_title
4     Star Wars: Episode VII - The Force AwakensÂ    ...
279                            10,000 B.C.Â
2895                                    Quest for FireÂ
3931                                           SamsaraÂ

In [251]:
movie_data.loc[4, 'language'] = 'English'
movie_data.loc[2895, 'language'] = 'French'

In [252]:
movie_data['language'].isnull().sum()

2

valeurs manquantes country

In [253]:
nan_rows = movie_data[movie_data['country'].isna()]
result = nan_rows[[ 'director_name', 'movie_title', 'language']]
print(result)

            director_name                                        movie_title  \
4             Doug Walker  Star Wars: Episode VII - The Force AwakensÂ    ...
279   Christopher Barnard                           10,000 B.C.Â
2370                  NaN                      Gone, Baby, GoneÂ
3397                  NaN                              PreacherÂ
4021    Daniel Petrie Jr.                                       Dawn PatrolÂ

     language
4     English
279       NaN
2370  English
3397  English
4021  English

In [254]:
# Remplacer les valeurs NaN dans la colonne "language" lorsque le pays est "USA" par "English"
movie_data.loc[movie_data['language'] == 'English', 'country'] = movie_data.loc[movie_data['language'] == 'English', 'country'].fillna('USA')
print(movie_data['country'].isnull().sum())  # Doit renvoyer 0 si toutes les valeurs manquantes ont Ã©tÃ© remplacÃ©e

1

In [255]:
movie_data.loc[4, 'country'] = 'USA'
movie_data.loc[279, 'country'] = 'USA'

lignes dupliquÃ©es

In [256]:
# SÃ©lectionner les colonnes pertinentes
columns_to_check = ['director_name', 'actor_2_name', 'actor_1_name', 'actor_3_name', 'movie_title']

# VÃ©rifier les doublons sur ces colonnes
duplicate_rows = movie_data.duplicated(subset=columns_to_check, keep=False)

# Compter le nombre de lignes dupliquÃ©es
number_of_duplicate_rows = duplicate_rows.sum()

print("Nombre de lignes dupliquÃ©es sur les colonnes spÃ©cifiÃ©es:", number_of_duplicate_rows)

Nombre de lignes dupliquÃ©es sur les colonnes spÃ©cifiÃ©es: 239

In [257]:
# SÃ©lectionner les lignes dupliquÃ©es
duplicate_rows = movie_data[duplicate_rows]

# Compter le nombre de fois oÃ¹ chaque ligne dupliquÃ©e apparaÃ®t
duplicates_count = duplicate_rows.duplicated(subset=columns_to_check).value_counts()

print("Nombre de fois que chaque ligne unique dans les doublons se rÃ©pÃ¨te:")
print(duplicates_count)

Nombre de fois que chaque ligne unique dans les doublons se rÃ©pÃ¨te:
True     123
False    116
Name: count, dtype: int64

In [258]:
# Supprimer les doublons en se basant sur les colonnes spÃ©cifiÃ©es dans columns_to_check
movie_data.drop_duplicates(subset=columns_to_check, inplace=True)

# VÃ©rifier la forme du DataFrame aprÃ¨s suppression des doublons
print("Shape du DataFrame aprÃ¨s suppression des doublons:", movie_data.shape)

Shape du DataFrame aprÃ¨s suppression des doublons: (4920, 28)

In [259]:
# Supprimer les doublons en se basant sur les colonnes spÃ©cifiÃ©es dans columns_to_check
movie_data_unique = movie_data.drop_duplicates(subset=columns_to_check)

# VÃ©rifier la forme du DataFrame aprÃ¨s suppression des doublons
print("Shape du DataFrame aprÃ¨s suppression des doublons:", movie_data_unique.shape)

Shape du DataFrame aprÃ¨s suppression des doublons: (4920, 28)

In [260]:
# Compter le nombre de fois oÃ¹ chaque ligne unique dans les doublons se rÃ©pÃ¨te
duplicates_count_df = movie_data.duplicated(subset=columns_to_check).value_counts()

print("Nombre de fois que chaque ligne unique dans les doublons se rÃ©pÃ¨te:")
print(duplicates_count_df)

Nombre de fois que chaque ligne unique dans les doublons se rÃ©pÃ¨te:
False    4920
Name: count, dtype: int64

valeurs manquantes color

In [261]:

# Convertir la variable "color" en une variable binaire (0 pour noir et blanc, 1 pour couleur)
movie_data['color_binary'] = (movie_data['color'] == 'Color').astype(int)

# Calculer la corrÃ©lation entre la variable binaire "color_binary" et "title_year"
correlation = movie_data['color_binary'].corr(movie_data['title_year'])

print("CorrÃ©lation entre 'color' et 'title_year':", correlation)

CorrÃ©lation entre 'color' et 'title_year': 0.28934903563814773

In [262]:
# Filtrer les lignes oÃ¹ la valeur de la colonne "color" est NaN
movies_color_nan = movie_data.loc[movie_data['color'].isnull()]

# Afficher les movie_title et les movie_imdb_link de ces films
print(movies_color_nan[['movie_title', 'movie_imdb_link', 'title_year']])

                                            movie_title  \
4     Star Wars: Episode VII - The Force AwakensÂ    ...
279                            10,000 B.C.Â
459                              DaredevilÂ
1948                                         Dear JohnÂ
2015                                           Red SkyÂ
2459                         UnforgettableÂ
2753                                 Shinjuku IncidentÂ
3272                             Into the Grizzly MazeÂ
3539  Alpha and Omega 4: The Legend of the Saw Tooth...
3638                    Snow Flower and the Secret FanÂ
3656                                      Freaky DeakyÂ
4138                                  Something WickedÂ
4215                             The Rise of the KraysÂ
4331                                  Small ApartmentsÂ
4409                              Kickboxer: VengeanceÂ
4441                        Once Upon a Time in QueensÂ
4630                                       A Fine StepÂ
4846                                  Midnight CabaretÂ
5020                                        The RidgesÂ

                                        movie_imdb_link  title_year
4     http://www.imdb.com/title/tt5289954/?ref_=fn_t...         NaN
279   http://www.imdb.com/title/tt1869849/?ref_=fn_t...         NaN
459   http://www.imdb.com/title/tt3322312/?ref_=fn_t...         NaN
1948  http://www.imdb.com/title/tt0989757/?ref_=fn_t...     2010.00
2015  http://www.imdb.com/title/tt1946381/?ref_=fn_t...     2014.00
2459  http://www.imdb.com/title/tt1842530/?ref_=fn_t...         NaN
2753  http://www.imdb.com/title/tt1075419/?ref_=fn_t...     2009.00
3272  http://www.imdb.com/title/tt1694021/?ref_=fn_t...     2015.00
3539  http://www.imdb.com/title/tt4061848/?ref_=fn_t...     2014.00
3638  http://www.imdb.com/title/tt1541995/?ref_=fn_t...     2011.00
3656  http://www.imdb.com/title/tt0938305/?ref_=fn_t...     2012.00
4138  http://www.imdb.com/title/tt1327601/?ref_=fn_t...     2014.00
4215  http://www.imdb.com/title/tt2945796/?ref_=fn_t...     2015.00
4331  http://www.imdb.com/title/tt1272886/?ref_=fn_t...     2012.00
4409  http://www.imdb.com/title/tt3082898/?ref_=fn_t...     2016.00
4441  http://www.imdb.com/title/tt1639397/?ref_=fn_t...     2013.00
4630  http://www.imdb.com/title/tt1604100/?ref_=fn_t...     2014.00
4846  http://www.imdb.com/title/tt0100146/?ref_=fn_t...     1990.00
5020  http://www.imdb.com/title/tt1781935/?ref_=fn_t...     2011.00

In [263]:
# Remplacer toutes les valeurs NaN dans la colonne "color" par la chaÃ®ne de caractÃ¨res 'Color'
movie_data['color'] = movie_data['color'].fillna('Color')

# VÃ©rifier que les valeurs NaN ont Ã©tÃ© remplacÃ©es
print(movie_data['color'].isnull().sum())  # Doit renvoyer 0 si toutes les valeurs NaN ont Ã©tÃ© remplacÃ©es

0

valeurs manquantes gross  - mean

In [264]:
# Modifier les options d'affichage pour dÃ©sactiver la notation scientifique
pd.set_option('display.float_format', lambda x: '%.2f' % x)

# Calculez la moyenne des valeurs non manquantes dans la colonne "duration"

mean_duration = movie_data['gross'].mean()

# Remplacez les valeurs manquantes dans la colonne "duration" par la moyenne calculÃ©e
movie_data['gross'] = movie_data['gross'].fillna(mean_duration)

# VÃ©rifiez que les valeurs manquantes ont Ã©tÃ© remplacÃ©es
print(movie_data['gross'].isnull().sum())  # Doit renvoyer 0 si toutes les valeurs manquantes ont Ã©tÃ© remplacÃ©es

0

valeurs manquantes budget  - mean

In [265]:
# Calculez la moyenne des valeurs non manquantes dans la colonne "duration"

mean_duration = movie_data['budget'].mean()

# Remplacez les valeurs manquantes dans la colonne "duration" par la moyenne calculÃ©e
movie_data['budget'] = movie_data['budget'].fillna(mean_duration)

# VÃ©rifiez que les valeurs manquantes ont Ã©tÃ© remplacÃ©es
print(movie_data['budget'].isnull().sum())  # Doit renvoyer 0 si toutes les valeurs manquantes ont Ã©tÃ© remplacÃ©es

0

In [266]:
movie_data.budget

0      237000000.00
1      300000000.00
2      245000000.00
3      250000000.00
4       38921447.26
           ...
5038    38921447.26
5039    38921447.26
5040        1400.00
5041    38921447.26
5042        1100.00
Name: budget, Length: 4920, dtype: float64

NAN aspect_ratio

In [267]:
movie_data.aspect_ratio

0       1.78
1       2.35
2       2.35
3       2.35
4        NaN
        ...
5038     NaN
5039   16.00
5040     NaN
5041    2.35
5042    1.85
Name: aspect_ratio, Length: 4920, dtype: float64

valeurs manquantes facenumber

In [268]:
movie_data.facenumber_in_poster.unique()

array([ 0.,  1.,  4.,  3.,  2.,  6.,  7.,  5.,  8., nan, 10., 15.,  9.,
       11., 12., 31., 14., 19., 13., 43.])

In [269]:
# Filtrer les lignes oÃ¹ la valeur de la colonne "facenumber_in_poster" est NaN
movies_facenumber_nan = movie_data.loc[movie_data['facenumber_in_poster'].isnull()]

# Afficher les movie_imdb_link de ces films
print(movies_facenumber_nan['movie_imdb_link'])

99      http://www.imdb.com/title/tt0903624/?ref_=fn_t...
248     http://www.imdb.com/title/tt3949660/?ref_=fn_t...
1948    http://www.imdb.com/title/tt0989757/?ref_=fn_t...
3016    http://www.imdb.com/title/tt1929263/?ref_=fn_t...
3373    http://www.imdb.com/title/tt4254584/?ref_=fn_t...
3797    http://www.imdb.com/title/tt3567288/?ref_=fn_t...
3853    http://www.imdb.com/title/tt3014666/?ref_=fn_t...
4307    http://www.imdb.com/title/tt1390539/?ref_=fn_t...
4444    http://www.imdb.com/title/tt1105355/?ref_=fn_t...
4448    http://www.imdb.com/title/tt1236254/?ref_=fn_t...
4453    http://www.imdb.com/title/tt4063178/?ref_=fn_t...
4692    http://www.imdb.com/title/tt1015471/?ref_=fn_t...
5031    http://www.imdb.com/title/tt2049518/?ref_=fn_t...
Name: movie_imdb_link, dtype: object

In [270]:
# Remplacer la valeur NaN dans la colonne "facenumber_in_poster" Ã  l'index 99 par 1
movie_data.loc[99, 'facenumber_in_poster'] = 1
movie_data.loc[248, 'facenumber_in_poster'] = 4
movie_data.loc[1948, 'facenumber_in_poster'] = 2
movie_data.loc[3016, 'facenumber_in_poster'] = 1
movie_data.loc[3373, 'facenumber_in_poster'] = 2
movie_data.loc[3797, 'facenumber_in_poster'] = 2
movie_data.loc[3853, 'facenumber_in_poster'] = 6
movie_data.loc[4307, 'facenumber_in_poster'] = 7
movie_data.loc[4444, 'facenumber_in_poster'] = 4
movie_data.loc[4448, 'facenumber_in_poster'] = 1
movie_data.loc[4453, 'facenumber_in_poster'] = 1
movie_data.loc[4692, 'facenumber_in_poster'] = 4
movie_data.loc[5031, 'facenumber_in_poster'] = 8

Nan director name, actors

In [271]:
# Remplacer les NaN dans la colonne 'director_name' par 'Unknown'
movie_data['director_name'] = movie_data['director_name'].fillna('Unknown')
movie_data['actor_2_name'] = movie_data['actor_2_name'].fillna('Unknown')
movie_data['actor_1_name'] = movie_data['actor_1_name'].fillna('Unknown')
movie_data['actor_3_name'] = movie_data['actor_3_name'].fillna('Unknown')

In [272]:
for column in movie_data.columns:
    null_count = movie_data[column].isnull().sum()
    print(f"{column}: {null_count}")

color: 0
director_name: 0
num_critic_for_reviews: 49
duration: 0
director_fb_likes: 102
actor_3_fb_likes: 23
actor_2_name: 0
actor_1_fb_likes: 7
gross: 0
genres: 0
actor_1_name: 0
movie_title: 0
num_voted_users: 0
cast_total_fb_likes: 0
actor_3_name: 0
facenumber_in_poster: 0
plot_keywords: 152
movie_imdb_link: 0
num_user_for_reviews: 21
language: 2
country: 0
content_rating: 301
budget: 0
title_year: 106
actor_2_fb_likes: 13
imdb_score: 0
aspect_ratio: 326
movie_fb_likes: 0
color_binary: 0

In [273]:
# Enregistrer le DataFrame dans un nouveau fichier CSV
movie_data.to_csv('Datas/5000_movie_correction.csv', index=False)